body {
    font-family: 'Roboto', sans-serif;
  }
  .hover:hover {
      cursor: pointer;
  }
  .nav-custom {
      padding: 10px;
      background-color: #000;
  }
  .navbar-inner {
      width: 95%;
      margin: auto;
  }
  .navbar-brand {
      font-size: 24px;
  }
  .nav-custom .nav-item {
      color: #fff !important;
      padding-left: 30px !important;
  }
  .nav-custom .nav-item:hover {
      color: #f7b72e !important;
      padding-left: 30px !important;
  }
  .banner {
      background-image: url("./images/background.jpeg");
      background-size: cover;
      background-repeat: no-repeat;
      padding: 25%;
  }
  .banner-heading {
      font-size: 100px;
      text-align: center;
      color: #fff;
  }
  .main-body {
      padding-top: 10%;
      padding-left: 5%;
      padding-right: 5%;
  }
  .date-heading {
      padding-left: 3%;
      padding-right: 3%;
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: #f4f4f4;
      border: 2px solid rgb(194, 194, 194);
  }
  .main-section {
      padding-top: 4%;
      padding-bottom: 4%;
      border-bottom: 2px solid rgb(194, 194, 194);
  }
  .btn-default {
      font-size: 24px;
      background-color: #f7b72e;
      color: #fff;
      font-weight: 500;
      padding: 10px;
  }
  .btn-default:hover {
      font-size: 24px;
      background-color: #d49100;
      color: #fff;
      font-weight: 500;
  }
  
  /*FOOTER*/
  
  footer {
      background: #000000;
      color: white;
      margin-top: 30px;
  }
  
  footer a {
      color: #fff;
      font-size: 14px;
      line-height: ;
      transition-duration: 0.2s;
  }
  
  footer a:hover {
      color: #c2c2c2;
      text-decoration: none;
  }
  
  .copy {
      font-size: 12px;
      padding: 10px;
      border-top: 1px solid #ffffff;
  }
  
  .footer-middle {
      padding-top: auto;
      padding-bottom: auto;
      color: white;
  }
